<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Selenium UI Test Suite - Amazon" >

	<listeners>
		<listener class-name="org.project.listeners.ListenerClass"></listener>
		<listener class-name="july17.MethodInterceptor"></listener>
	</listeners>


	<test name="Grouped Tests">
		<classes>
			<class name="may23.HandleAjaxListTest" />
			<class name="flipkart_may15.SearchItems_List" />
			<class name="flipkart_may15.LoginTest" />
			<class name="flipkart_may15.FSI" />
			
			<class name="org.homePageTest.com.RoundTripSearchTest" />
			<class name="org.homePageTest.com.BAE_SearchTest" />
			<class name="aug_08.TC02" />
		</classes>
	</test>

</suite>
  
